In [1]:
import pandas as pd

df = pd.read_parquet('/media/de-ninja/codebase/Projects/14_data-feed-engine/data-feed-engine/data/output/r_posts')
df.head()

,post_id,sub_reddit,post_type,title,author,text_content,url,score,num_comments,upvote_ratio,over_18,edited,created_at,fetched_at,etl_insert_date
0,1asba6v,data,new,Survey to Determine the Correlation Between an...,Jumble187,"Hi,\nI am a senior in high school taking AP Re...",https://forms.gle/gSp7zZ1Gx6aK3fvZ7,1,0,1.00,0,NaT,2024-02-16 15:26:52,2025-03-04 17:14:04,2025-03-04 17:14:26
1,1asfm1y,data,new,ODSC East and Data Engineering Summit,Jennibird1220,"\nI am part of ODSC.com, one of the largest AI...",https://www.reddit.com/r/data/comments/1asfm1y...,1,0,1.00,0,NaT,2024-02-16 18:21:16,2025-03-04 17:14:04,2025-03-04 17:14:26
2,1aso5ye,data,new,top 10 datavisualization tools recommendation,Arugula3738,"Tableau was the one I knew, but I did not know...",https://www.reddit.com/r/data/comments/1aso5ye...,1,0,1.00,0,NaT,2024-02-17 00:18:42,2025-03-04 17:14:04,2025-03-04 17:14:26
3,1asoli5,data,new,Best Data Conferences in the US?,clifmoo,Can anyone recommend some of the best data con...,https://www.reddit.com/r/data/comments/1asoli5...,1,0,1.00,0,NaT,2024-02-17 00:38:19,2025-03-04 17:14:04,2025-03-04 17:14:26
4,1at1kyz,data,new,I shared a Python Data Analysis Project on You...,onurbaltaci,"Hello, I just shared a Python Data Analysis Pr...",https://www.reddit.com/r/data/comments/1at1kyz...,1,0,0.67,0,NaT,2024-02-17 13:08:09,2025-03-04 17:14:04,2025-03-04 17:14:26

In [2]:
df.shape

(3692, 15)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3692 entries, 0 to 3691
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   post_id          3692 non-null   object
 1   sub_reddit       3692 non-null   object
 2   post_type        3692 non-null   object
 3   title            3692 non-null   object
 4   author           3606 non-null   object
 5   text_content     3384 non-null   object
 6   url              3692 non-null   object
 7   score            3692 non-null   int64
 8   num_comments     3692 non-null   int32
 9   upvote_ratio     3692 non-null   object
 10  over_18          3692 non-null   object
 11  edited           331 non-null    datetime64[ns]
 12  created_at       3692 non-null   datetime64[ns]
 13  fetched_at       3692 non-null   datetime64[ns]
 14  etl_insert_date  3692 non-null   datetime64[ns]
dtypes: datetime64[ns](4), int32(1), int64(1), object(9)
memory usage: 418.4+ KB